body
{
    background-color: bisque;
    background-image: url(images/handDonut.jpg);
    background-size: contain;
}
table, td, th
{
    border: 2px solid black;
}
p
{
    border: 2px solid black;
}
.topNav
{
    position: fixed;
    font-size: 1em;
}
.mainGrid
{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2vh;
    grid-template-areas:'websiteH1'
                        'verticalNav'
                        'header'
                        'item1'
                        'item2'
                        'ingredients'
                        'method'
                        'migImg';
}
@media (min-width: 700px) {
    .mainGrid 
    {
        grid-template-columns: 1fr 4fr 0.3fr;
        grid-template-areas:'websiteH1 websiteH1 aside'
                            'verticalNav header aside'
                            'verticalNav header aside'
                            'verticalNav item1 aside'
                            'verticalNav item2 aside'
                            'ingredients method aside'
                            'ingredients method aside'
                            'migImg migImg migImg';
    }
    .verticalNav
    {
        grid-area: verticalNav;
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;  
    }
    .verticalNav a
    {
        color: rgb(7, 28, 2);
        font-size: 2.5vh;
        /* make the nav items stretch full lenght in grid space */
        padding-top: 13vh;
    }
    .websiteH1
        {
            grid-area: websiteH1;
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 6em;
        }
    .aside
        {
            background-color: rgb(231, 227, 224);
            background-image: url(images/poo_favi.png);
            background-size: contain;
            border-radius: 20px;
        }
    .topNav
        {
            position: fixed;
            padding: 3vh;
            font-size: 2em;
        }
    .topNav a
        {
            padding-inline: 4vh;
        }
    /* .topImg
        {
            display: table;
        } */
}
.websiteH1
{
    grid-area: websiteH1;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f71313;
}
.verticalNav
{
    grid-area: verticalNav;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;  
    font-size: 1em;
}
.verticalNav a {
    font-size: 1.5em;
  }
.aside
{
    grid-area: aside;
    background-color: rgb(197, 142, 70);
}
.header
{
    grid-area: header;
    display: flex;
    flex-direction: column;
}
.recipeHeaderH2
{
    grid-area: recipeHeaderH2;
    text-align: center;
    font-size: 4vh;
    margin-top: 0;
}
.topImg
{
    grid-area: topImg;
    width: 100%;
}
.item1
{
    grid-area: item1;
    background-color: antiquewhite;
}
.item2
{
    grid-area: item2;
    padding: 2vh;
    background-color: antiquewhite;

}
.ingredients
{
    grid-area: ingredients;
    padding: 1vh;
}
.ingredients th
{
    background-color: rgb(197, 142, 70);
}
.ingredients td
{
    background-color: antiquewhite;
}
.method
{
    grid-area: method;
    padding: 1vh;
}
.method th
{
    background-color: rgb(197, 142, 70);
}
.method td
{
    background-color: antiquewhite;
}
.migImg
{
    grid-area: migImg;
}

