
body 
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 174, 140);
    background-image: url(images/poo_favi.png);
    background-repeat: repeat-x;
    background-size: 8vh;
}
table, td, th
{
    border: 2px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  
th
{
    background-color: rgb(233, 24, 160);
    border-radius: 10px;
}
td
{
    background-color: aliceblue;
}
.topNav
{
    text-align: center;
}
.mainFlex
{
    background-image: url(images/handDonut3.jpg);
    background-size: contain;
    border: 5 px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
@media (min-width: 700px) {
    .mainFlex
        {
            margin-inline: 20vh;
        }
    .verticalNav
        {
            display: flex;
            flex-direction: column;
        }
    .verticalNav a
        {   
            color: rgb(10, 38, 3);
            font-size: 2.5vh;
            padding-top: 6vh;
        }
    .recipe
        {
            display: flex;
            flex-direction: row !important;
        }
}
.websiteH1
{
    position: relative; 
    margin: 5vh;
    color: rgb(11, 97, 39);
    font-size: 5vh;
    text-decoration: underline;   
    text-align: center; 
}
.recipeHeaderH2
{
    text-align: center;
    padding: 2vh;
    font-size: 5vh;
}
.topImg
{
   padding: 0;
   width: 100%;
}
.item1
{
    padding-inline: 5vh; 
    padding-top: 5vh;
    color: rgb(85, 225, 57);
    font-size: 1.5em;
}
.item2
{
   padding-inline: 5vh;
   font-size: 1.5em;
}
.recipe
{
    display: flex;
    flex-direction: column;
}
.ingredients
{
    display: flex;
    background-color: aqua;
    border-radius: 20px;
    font-size: 1.2em;
}
.method
{
    border: 2px solid black;
    border-radius: 20px;
    background-color: aqua;
    font-size: 1.2em;
}
#migImg
{
    margin-inline: 20vh;
    width: 100%;
}