
body 
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 174, 140);
    background-image: url(images/poo_favi.png);
    background-repeat: repeat-x;
}
table, td, th
{
    border: 2px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  
th
{
    background-color: rgb(233, 24, 160);
    border-radius: 10px;
}
td
{
    background-color: aliceblue;
}
.topNav
{
    text-align: center;
}
.mainFlex
{
    background-image: url(images/handDonut3.jpg);
    background-size: contain;
    border: 5 px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
@media (min-width: 700px) {
    .mainFlex
        {
            margin-inline: 20vh;
        }
    .verticalNav
        {
            display: flex;
        }
    .verticalNav a
        {
            color: rgb(61, 235, 18);
            font-size: 2.5vh;
            padding-top: 6vh;
        }
    /* .websiteH1
    {
        grid-area: websiteH1;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 6em;
    } */
}
.websiteH1
{
    position: relative; 
    margin: 5vh;
    color: rgb(11, 97, 39);
    font-size: 2em;
    text-decoration: underline;   
    text-align: center; 
}
/* .verticalNav
{
    text-align: center;
} */
.recipeHeaderH2
{
    text-align: center;
    padding: 2vh;
    font-size: 3em;
}
.topImg
{
   padding: 0;
   width: 100%;
}
.item1
{
    padding: 2vh; 
}
.item2
{
   padding: 2vh;
}
.ingredients
{
    background-color: aqua;
}
.metode
{
    border: 2px solid black;
    background-color: aqua;
    border-radius: 20px;
}
#migImg
{
    margin-inline: 20vh;
    width: 100%;
}